/* You can add global styles to this file, and also import other style files */

.header {
    border: 1px solid #968b8b;
    background-color: #968b8b;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: center;
}